<div class="popup-container" (click)="$event.stopPropagation()">
  <div class="popup-header">
    <span>Label note</span>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Enter label name" [ngModel]="searchQuery()" (ngModelChange)="searchQuery.set($event)" autofocus>
    <span class="material-symbols-outlined search-icon">search</span>
  </div>

  <div class="labels-list">
    @for (label of filteredLabels(); track label.id) {
      <div class="label-item" (click)="toggleLabel(label, $event)">
        <div class="checkbox">
          <span class="material-symbols-outlined check-icon" *ngIf="hasLabel(label)">check_box</span>
          <span class="material-symbols-outlined uncheck-icon" *ngIf="!hasLabel(label)">check_box_outline_blank</span>
        </div>
        <span class="label-name">{{ label.name }}</span>
      </div>
    }

    @if (showCreateOption()) {
      <div class="label-item create-item" (click)="createAndSelectLabel($event)">
        <span class="material-symbols-outlined add-icon">add</span>
        <span class="label-name">Create <span class="highlight">"{{ searchQuery() }}"</span></span>
      </div>
    }
  </div>
</div>
